span {
  font-size: x-large;
  white-space: pre-line;

  /* text-indent: 50px; */
}

p {
  font-size: larger;
  text-align: justify;
  white-space: pre-line;
}

h6 {
  color: grey;
}

.post-container {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  /* margin-top: 30px; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: "helvetica";
}

.post-header {
  /* padding: 1%; */
  border-style: solid;
  border-bottom: 3spx;
  border-color: black;
}

.post-body {
  text-align: justify;
}
