p {
  font-size: larger;
  text-align: justify;
  white-space: pre-line;
}

.project-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "helvetica";
}

.text-container {
  width: 1000px;
  margin-right: 5%;
}

.project-header {
  display: flex;
  justify-content: space-between;
  /* border: 2px;
  border-color: red;
  border-style: solid; */
}

.project-body {
  padding-top: 10px;
  padding-bottom: 10px;
}
